html,
  body {
    height: 100%;
    background-image:url(../images/back3.jpg);
    background-size: cover;

  }


/* Estilos para el contenedor principal */
/* #centerDesign {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding-top: 50px; /* Ajusta el espacio del encabezado */
  /* padding-bottom: 50px;
  font-size: 36px;
  height: 100vh;
  background-color: rgba(233, 225, 225, 0.5) !important; */

  
/* }  */

.header-content {
  width: calc(100% - 100px); /* Resta 100px al ancho total */
  margin-left: 100px; /* Agrega un margen izquierdo de 100px */
  position: absolute;
  margin-right: 200px;
  left: 0;
  top: 55%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #fff;
  font-weight: bold;
  line-height: 1.2; /* Ajusta el espaciado entre líneas */
  margin-bottom: 25px;
  text-align: left;
}
.image-container {
  width: 300px; 
  float: right;
}

.image-container img {
  max-width: 100%;
}  
.header-subtitle, .header-title, .header-mono {
  text-align: left;
  letter-spacing: 3px;
  font-size: 75px; /* Aumenta el tamaño de la fuente */
  margin-bottom: 10px; /* Ajusta el margen inferior */
}
.header-subtitle, .header-title{
  
  font-family: 'Lobster', sans-serif;
}
.header-mono {
  font-family: 'Alegreya', serif;
  font-size:50px;
}



footer{
  
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #fff; /* Color de texto del footer */
    padding: 20px; /* Añade un espacio de relleno al footer */
}



strong{
    font-size:2rem;
    font-family: 'Times New Roman', Times, serif;

}

h1{
  font-size: xx-large;
  font-family: 'Times New Roman', Times, serif;
  color:#fff;
}

.navbar .nav-link {
  color: #fff !important;

}
.navbar-nav .nav-item {
  margin-right: 10px;
}
